.top-bar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #212C3B;
    height: 66px;
    z-index: 5;
    max-height: 66px;
    padding: 10px 32px 10px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}
.user-account-options-wrapper{
    display: inline-block;
    float: right;
}