@import 'colors';

.left-nav-wrapper{
    height: calc(100% - 66px);
    position: fixed;
    z-index: 4;
    overflow: visible;
    top: 66px;
    left: 0;
    background-color: #FFFFFF;
    transition: 0.5s left;
    ul{
        list-style: none;
        padding-left: 0px;
        li{
            padding:14px;
            position: relative;
            .left-nav-user-sub-menu{
                position: absolute;
                left: 52px;
                width: 170px;
                top: 0;
                background-color: white;
                display: none;
                div{
                    padding: 10px 12px;
                    padding-left: 20px;
                    background-color: $sub-menu-background-color;
                    cursor: pointer;
                    .submenu-text:hover{
                        color: $sub-menu-active-color;
                    }
                }
                div:first-child{
                    background-color: $active-option-color;
                    color: white;
                    padding: 17.5px 20px;
                    .submenu-text:hover{
                        color: white;
                    }
                }
            }
        }
        li:hover{
            background-color: $active-option-color;
            .icon-briefcase{
                color: white;
            }
            .icon-user-tie{
                color: white;
            }
        }
        li:hover .left-nav-user-sub-menu{
            display: inline-block;
        }
        li:nth-child(1):hover{
            background-color: white;
        }
    }
    .icon-briefcase{
        font-size: 24px;
        color: #888888;
    }
    .icon-user-tie{
        font-size: 24px;
        color: #888888;
    }
    .icon-home{
        font-size: 24px;
        color: #888888;
    }
}